## ************** neema-server *******************

# Cache and logs (Symfony2)
/neema-server/app/cache/*
/neema-server/app/logs/*
!/neema-server/app/cache/.gitkeep
!/app/logs/.gitkeep

# Cache and logs (Symfony3)
/neema-server/var/cache/*
/neema-server/var/logs/*
!neema-server/var/cache/.gitkeep
!neema-server/var/logs/.gitkeep

# Parameters
/neema-server/app/config/parameters.yml
/neema-server/app/config/parameters.ini

# Managed by Composer
/neema-server/app/bootstrap.php.cache
/neema-server/var/bootstrap.php.cache
/neema-server/bin/*
!/neema-serverbin/console
!/neema-serverbin/symfony_requirements
/neema-server/vendor/

# Assets and user uploads
/neema-server/web/bundles/
/neema-server/web/uploads/

# Assets managed by Bower
/neema-server/web/assets/vendor/

# PHPUnit
/neema-server/app/phpunit.xml
/neema-server/phpunit.xml

# Build data
/neema-server/build/

# Composer PHAR
/neema-server/composer.phar

/neema-server/.idea
/neema-server/node_modules
/neema-server/var/sessions
/neema-server/web/images

## ************** neema-client*******************
/neema-client/.idea
/neema-client/*.iml
!/neema-client/www/lib/service.js
/neema-client/platforms
/neema-client/www/lib
/neema-client/out
/neema-client/gen
/neema-client/node_modules
/neema-client/node_modules/
/neema-client/temp/
/neema-client/*.DS_Store
/neema-client/*.log
/neema-client/*.swp

##***************** neema-nodejs********************

/neema-nodejs/node_modules

## ************** neema-restaurant*******************
/neema-restaurant/.idea
/neema-restaurant/*.iml
!/neema-restaurant/www/lib/service.js
/neema-restaurant/platforms
/neema-restaurant/www/lib
/neema-restaurant/out
/neema-restaurant/gen
/neema-restaurant/node_modules
/neema-restaurant/temp/
/neema-restaurant/*.DS_Store
/neema-restaurant/*.log
/neema-restaurant/*.swp
