
<div class="col-md-12 col-xs-12">
    <h1 class="text-center">LISTE DES COMMANDES</h1>
    <form name="form" novalidate>
        <div ng-hide="commande.delivered" class="col-md-8 col-md-offset-2 mg-top-20" ng-repeat="commande in commandes">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6">
                        <p><strong>Telephone client:</strong> {{commande.telephone}}({{commande.user.nom}} {{commande.user.prenom}})</p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Date commande:</strong> {{commande.dateCommande|date:'dd/MM/yyyy H:mm:ss':'+GMT'}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Etat :</strong> {{commande.etatCommande.libelle}}</p>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Plat</th>
                            <th>Temps restant</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="detail in commande.detailCommandes">
                            <td>
                                <span>{{detail.plat.nom}}</span>
                            </td>
                            <td>
                                <neema-timer time="detail.plat.dureePreparation">

                                </neema-timer>

                            </td>
                            <td class="text-center">
                                <button ng-hide="detail.finished" ng-click="finishPreparation(detail)">
                                    Terminer
                                </button>
                                <p ng-show="detail.finished">
                                    <i class="btn btn-success glyphicon glyphicon-ok"></i>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-hide="commande.delivered" class="col-md-offset-6 col-md-6">

                            <div class="col-sm-6" ng-class="{ 'has-error' : commande.error}">
                                <input type="text" class="form-control" name="code" placeholder="Entrez le code" ng-model="commande.code" required>
                                <p ng-show="commande.error" class="help-block">Le code est obligatoire.</p>
                            </div>
                            <button ng-click="giveToClient(commande)" class="btn btn-primary">Donner au client</button>
                    </div>


                </div>
            </div>

        </div>
    </form>

</div>
