
<div class="col-md-12 col-xs-12">
    <h1 class="text-center">LISTE DES COMMANDES</h1>
    <div class="col-md-8 col-md-offset-2 mg-top-20" ng-repeat="commande in commandes">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <p><strong>Telephone client:</strong> {{commande.telephone}}({{commande.user.nom}} {{commande.user.prenom}})</p>
                </div>
                <div class="col-md-3">
                    <p><strong>Date commande:</strong> {{commande.dateCommande|date:'dd/MM/yyyy H:mm:ss':'+GMT'}}</p>
                </div>
                <div class="col-md-3">
                    <p><strong>Etat :</strong> {{commande.etatCommande.libelle}}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Livreur:</strong> {{commande.livraison.livreur.prenom}}  {{commande.livraison.livreur.nom}}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Telephone Livreur:</strong> {{commande.livraison.livreur.telephone}}</p>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Plat</th>
                        <th>Temps restant</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detail in commande.detailCommandes">
                        <td>
                            <span>{{detail.plat.nom}}</span>
                        </td>
                        <td>
                            <timer countdown="detail.dureePreparationRestant" max-time-unit="'minute'" interval="1000">
                                <neema-color-timer minute="mminutes" seconde="sseconds">
                                    {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}
                                </neema-color-timer>
                            </timer>
                        </td>
                        <td class="text-center">
                            <button ng-hide="detail.finished" ng-click="finishPreparation(detail)">
                                Terminer
                            </button>
                            <p ng-show="detail.finished">
                                <i class="btn btn-success glyphicon glyphicon-ok"></i>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
