
<div class="col-md-12 col-xs-12">
    <div class="col-md-8 col-md-offset-3 mg-top-20">
        <form class="form-horizontal" name="form" novalidate>
            <div class="col-md-12 col-xs-12  mg-top-20">
                <div class="col-sm-3" ng-class="{ 'has-error' : form.code.$invalid && formIsSubmit}">
                    <label for="code" class="text-primary control-label">Code livreur</label>
                    <input type="text" name="code" id="code" tabindex="0" class="form-control"
                           placeholder="Code du livreur" ng-model="livreur.code" required>
                    <p ng-show="form.code.$invalid && formIsSubmit" class="help-block">Le code est obligatoire.</p>
                </div>
                <div class="col-sm-3" ng-class="{ 'has-error' : form.nom.$invalid && formIsSubmit}">
                    <label for="nom" class="text-primary control-label">Nom livreur</label>
                    <input type="text" name="nom" id="nom" tabindex="1" class="form-control"
                           placeholder="Nom du livreur" ng-model="livreur.nom" required>
                    <p ng-show="form.nom.$invalid && formIsSubmit" class="help-block">Le nom est obligatoire.</p>
                </div>
                <div class="col-sm-3" ng-class="{ 'has-error' : form.prenom.$invalid && formIsSubmit}">
                    <label for="prenom" class="text-primary control-label">Prenom livreur</label>
                    <input type="text" name="prenom" id="prenom" tabindex="2" class="form-control"
                           placeholder="Prenom du livreur" ng-model="livreur.prenom" required>
                    <p ng-show="form.prenom.$invalid && formIsSubmit" class="help-block">Le prenom est obligatoire.</p>
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-3 mg-top-20">
                <button class="form-control btn btn-success" tabindex="3" ng-click="save(livreur)" ng-hide="forUpdate"> Enregistrer</button>
                <button class="form-control btn btn-info" tabindex="3" ng-click="update(livreur)" ng-show="forUpdate"> Modifer</button>
            </div>

        </form>
    </div>
    <div class="col-md-6 col-md-offset-3 mg-top-20">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="livreur in livreurs">
                <td>
                    <span>{{livreur.code}}</span>
                </td>
                <td>
                    <span>{{livreur.nom}}</span>
                </td>
                <td>
                    <span>{{livreur.prenom}}</span>
                </td>
                <td class="text-center">
                    <a ng-click="selected(livreur)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a ng-click="delete(livreur)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
