
<div class="col-md-12 col-xs-12">
    <div class="col-md-8 col-md-offset-2 mg-top-20">
        <button class="btn btn-success pull-right margin-5" ng-click="valider()">Valider</button>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Au menu</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="plat in plats">
                <td>
                    <img style="height: 50px;width: 50px;" ng-src="{{plat.image.webPath}}/{{plat.image.imageName}}" alt="{{image.imageName}}">
                </td>
                <td>
                    <span>{{plat.nom}}</span>
                </td>
                <td>
                    <span>{{plat.prix}}</span>
                </td>
                <td>
                    <input type="checkbox" ng-model="plat.onMenu" ng-click="onMenu(plat,$index)">
                </td>

                <td class="text-center">
                    <a ui-sref="editPlat({idPlat:plat.id})">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
