<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content col-lg-6">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Changement Mot de Passe</h4>
            </div>
            <div class="modal-body">
                <form name="formPassword">
                    <div class="form-group" ng-class="{ 'has-error' : formPassword.passwordActuel.$invalid  && formPasswordIsSubmit }">
                        <label for="passwordActuel">Mot de passe Actuel</label>
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="passwordActuel" class="form-control" placeholder="Mot de passe actuel" ng-model="userPass.passwordActuel" name="passwordActuel" required>
                            <p ng-show="formPassword.passwordActuel.$invalid  && formPasswordIsSubmit" class="help-block">Mot de passe actuel obligatoire.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : formPassword.newPassword.$invalid  && formPasswordIsSubmit }">
                        <label for="newPassword">Nouveau mot de passe</label>
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="newPassword" placeholder="Password" ng-model="userPass.newPassword" name="newPassword" required>
                            <p ng-show="formPassword.newPassword.$invalid  && formPasswordIsSubmit" class="help-block">Nouveau mot de passe obligatoire.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : formPassword.confirmationPassword.$invalid  && formPasswordIsSubmit }">
                        <label for="confirmationPassword">Confirmation mot de passe</label>
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="confirmationPassword" class="form-control" placeholder="Confirmation" ng-model="userPass.confirmationPassword" name="confirmationPassword" required>
                            <p ng-show="formPassword.confirmationPassword.$invalid  && formPasswordIsSubmit" class="help-block">Confirmation mot de passe obligatoire.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary" ng-click="changePassword(userPass)"><i class="fa fa-long-arrow-right"></i> Changer</button>
                        <button type="submit" class="btn btn-sm btn-danger pull-right" data-dismiss="modal"><i class="fa fa-long-arrow-right"></i> Fermer</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

