
<div class="col-md-12 col-xs-12">
    <div class="col-md-8 col-md-offset-2 mg-top-20">
        <form class="form-horizontal" name="form" novalidate>
            <div class="col-md-12 col-xs-12  mg-top-20">
                <div class="col-sm-4" ng-class="{ 'has-error' : form.nom.$invalid && formIsSubmit}">
                    <input type="text" name="nom" id="nom" tabindex="1" class="form-control"
                           placeholder="Nom du quartier" ng-model="quartier.nom" required>
                    <p ng-show="form.nom.$invalid && formIsSubmit" class="help-block">Le nom est obligatoire.</p>
                </div>
                <div class="col-sm-4" ng-class="{ 'has-error' : form.commune.$invalid && formIsSubmit}">
                    <ui-select tabindex="2" ng-model="quartier.commune" theme="bootstrap" name="commune" id="commune">
                        <ui-select-match placeholder="Selectionner une commune">{{$select.selected.nom}}</ui-select-match>
                        <ui-select-choices repeat="commune in communes|filter:$select.search">
                            <div ng-bind-html="commune.nom | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-4">
                    <button class="form-control btn btn-success" ng-click="save(quartier)" ng-hide="forUpdate"> Enregistrer</button>
                    <button class="form-control btn btn-info" ng-click="update(quartier)" ng-show="forUpdate"> Modifer</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-3 mg-top-20">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom quartier</th>
                <th>Nom commune</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="quartier in quartiers">
                <td>
                    <span>{{quartier.nom}}</span>
                </td>
                <td>
                    <span>{{quartier.commune.nom}}</span>
                </td>
                <td class="text-center">
                    <a ng-click="selectedQuartier(quartier)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a ng-click="delete(quartier)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
