<div class="container">
    <div class="center-block login-form">
        <div class="panel panel-default">
            <div class="panel-heading">Réinitialisation Password</div>
            <div class="panel-body">
                <form role="form" name="form">
                    <div class="form-group" ng-class="{ 'has-error' : form.user.$invalid  && formIsSubmit }">
                        <ui-select tabindex="2" ng-model="user.value" theme="bootstrap" name="user" id="user" required>
                            <ui-select-match placeholder="Selectionner un utilisateur">{{$select.selected.username}}</ui-select-match>
                            <ui-select-choices repeat="u in users|filter:$select.search">
                                <div ng-bind-html="u.username | highlight: $select.search"></div>
                                <div ng-bind-html="u.nom | highlight: $select.search"></div>
                            </ui-select-choices>
                            <p ng-show="form.restaurant.$invalid && formIsSubmit" class="help-block">Selectionner un utilisateur</p>
                        </ui-select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary" ng-click="reset(user.value)"><i class="fa fa-long-arrow-right"></i> Reinitialiser</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
