
<div class="col-md-12 col-xs-12">
    <div class="col-md-8 col-md-offset-2 mg-top-20">
        <form class="form-horizontal" name="form" novalidate>
            <div class="col-md-12 col-xs-12  mg-top-20">
                <div class="col-sm-4" ng-class="{ 'has-error' : form.nom.$invalid && formIsSubmit}">
                    <label for="nom" class="text-primary control-label">Nom Restaurant</label>
                    <input type="text" name="nom" id="nom" tabindex="0" class="form-control"
                           placeholder="Nom du restaurant" ng-model="restaurant.nom" required>
                    <p ng-show="form.nom.$invalid && formIsSubmit" class="help-block">Le nom est obligatoire.</p>
                </div>
                <div class="col-sm-4">
                    <label for="telephone" class="text-primary control-label">Numero telephone</label>
                    <input type="text" name="telephone" id="telephone" tabindex="1" class="form-control"
                           placeholder="Numero telephone" ng-model="restaurant.telephone">
                </div>
                <div class="col-sm-4">
                    <label for="email" class="text-primary control-label">Email</label>
                    <input type="text" name="email" id="email" tabindex="2" class="form-control"
                           placeholder="Email" ng-model="restaurant.email">
                </div>
                <div class="col-sm-4">
                    <label for="siteWeb" class="text-primary control-label">Site web</label>
                    <input type="text" name="siteWeb" id="siteWeb" tabindex="3" class="form-control"
                           placeholder="Site web" ng-model="restaurant.siteWeb">
                </div>
                <div class="col-sm-4">
                    <label for="longitude" class="text-primary control-label">Longitude</label>
                    <input type="text" name="longitude" id="longitude" tabindex="3" class="form-control"
                           placeholder="Longitude" ng-model="restaurant.longitude">
                </div>
                <div class="col-sm-4">
                    <label for="latitude" class="text-primary control-label">Latitude</label>
                    <input type="text" name="longitude" id="latitude" tabindex="3" class="form-control"
                           placeholder="Latitude" ng-model="restaurant.latitude">
                </div>
                <div class="col-sm-4" ng-class="{ 'has-error' : form.quartier.$invalid && formIsSubmit}">
                    <label for="quartier" class="text-primary control-label">Quartier</label>
                    <ui-select tabindex="4" ng-model="restaurant.quartier" theme="bootstrap" name="quartier" id="quartier" required>
                        <ui-select-match placeholder="Selectionner un quartier">{{$select.selected.nom}}</ui-select-match>
                        <ui-select-choices repeat="quartier in quartiers|filter:$select.search">
                            <div ng-bind-html="quartier.nom | highlight: $select.search"></div>
                            <div ng-bind-html="quartier.commune.nom | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <p ng-show="form.nom.$invalid && formIsSubmit" class="help-block">Le quartier est obligatoire.</p>
                </div>
                <div class="col-sm-8">
                    <label for="description" class="text-primary control-label col-md-4">Description :</label>
                    <textarea class="form-control" tabindex="5" cols="20" id="description" ng-model="restaurant.description" name="description" placeholder="Description du restaurant" rows="4"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-3 mg-top-20">
        <input type="file" nv-file-select uploader="uploader" id="selectImage" />
        <button class="btn btn-primary" nt-btn-image cible="selectImage">Ajouter Image</button>
        <div ng-show="uploader.isHTML5" class="table-bordered">

            <div ng-repeat="image in restaurant.imageRestaurants" class="col-md-4">
                <button type="button" class="close" data-dismiss="alert" ng-click="removeImage(image,$index)"
                        data-toggle="tooltip" data-placement="top" title="Supprimer l'image"
                        nt-remove><i class="glyphicon glyphicon-remove"></i></button>

                <div class="thumbnail">
                    <img ng-src="{{image.webPath}}/{{image.imageName}}" alt="{{image.imageName}}">
                </div>
            </div>

            <div ng-repeat="item in uploader.queue" class="col-md-4">
                <div ng-thumb="{ file: item._file, height: 100 }"></div>
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': image.progress + '%' }"></div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-4 col-md-offset-4 mg-top-20">
        <button class="form-control btn btn-success" ng-click="save(restaurant)" ng-hide="forUpdate"> Enregistrer</button>
        <button class="form-control btn btn-info" ng-click="update(restaurant)" ng-show="forUpdate"> Modifer</button>
    </div>

</div>
