# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    jwtprivatekeypath: %kernel.root_dir%/../var/jwt/private.pem   # ssh private key path
    jwtpublickeypath:  %kernel.root_dir%/../var/jwt/public.pem    # ssh public key path
    jwttokenttl:        86400
    majorationTimeLivraison: 600  # 10 minutes

#    databasehost:     127.0.0.1
#    databaseport:     ~
#    databasename:     symfony
#    databaseuser:     root
#    databasepassword: ~
#    mailertransport:  smtp
#    mailerhost:       127.0.0.1
#    maileruser:       ~
#    mailerpassword:   ~
#
#    jwtkeypassphrase: ~
#
#    neemauploadplatdirectory : %kernel.root_dir%/../web/images/plats
#    neemauploadrestaurantdirectory : %kernel.root_dir%/../web/images/restaurants
#    defaultpassword : neema
#    urlimages:	http://127.0.0.1:8000/images
#
#
#    secret:            ThisTokenIsNotSoSecretChangeIt
#    phonenumber: +33644607306
#
#    twiliosid:
#    twilioauthtoken:

