<ion-view view-title="Ajout Plat">
    <ion-content scroll="true" class="padding has-header">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Plat</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Prix</span>
                <input type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">Temps de cuisson (minute)</span>
                <input type="password">
            </label>
            <div class="item item-checkbox">
                <span class="input-label">Afficher sur le menu</span>
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" ng-model="plat.onMenu" ng-click="onMenu(plat)">
                </label>
            </div>
            <label class="item item-input">
                <textarea rows="5" placeholder="Donner une description sur le plat"></textarea>
            </label>
        </div>
        <hr>
        <div class="row responsive-lg flex-wrap">
            <div class="col col-25 list card" ng-repeat="image in images">
                <div class="item">
                    <button ng-click="selectImage($index)" class="button button-full button-stable icon ion-upload"></button>
                </div>
                <div class="item item-image">
                    <img ng-src="">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>


