<ion-view view-title="Commandes">
    <ion-content scroll="true" padding="true">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshListCommande()">
        </ion-refresher>
        <div ng-show="newCommande" class="new-commande-bar cursor-pointer" ng-click="refreshListCommande()">
            {{countNewCommande}} {{textNewCommande}}
        </div>
        <form name="form" novalidate>
            <div class="card" ng-repeat="commande in commandes">
                <div class="item item-divider">
                    <div class="table row">
                        <div class="col col-25">Client</div>
                        <div class="col col-25">Date Commande</div>
                        <div class="col col-25">Type</div>
                        <div class="col col-25">Montant</div>
                    </div>
                    <div class="table row">
                        <div class="col col-25" style="white-space: normal;">
                            {{commande.user.nom}} {{commande.user.prenom}}
                            {{commande.telephone}}
                        </div>
                        <div class="col  col-25">{{commande.dateCommande|date:'dd/MM/yyyy H:mm:ss':'+GMT'}}</div>
                        <div class="col col-25" style="white-space: normal;">
                            <span ng-show="commande.aEmporter">A Emporter</span>
                            <span ng-show="commande.aLivrer">A Livrer</span>
                        </div>
                        <div class="col  col-25">{{commande.totalCommande|montant}}</div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <div class="row table header">
                        <div class="table col">Plat</div>
                        <div class="table col col-20">Quantite</div>
                        <div class="table col">Temps Restant</div>
                        <div class="table col">Terminer</div>
                    </div>
                    <div class="table row" ng-repeat="detail in commande.detailCommandes">
                        <div class="table col">{{detail.plat.nom}}</div>
                        <div class="table col col-20">{{detail.quantite}}</div>
                        <div class="table col">
                            <neema-timer time="detail.plat.dureePreparation"></neema-timer>
                        </div>
                        <div class="table col">
                            <ion-checkbox ng-model="detail.finished" ng-click="finishPreparation(detail)"></ion-checkbox>
                        </div>
                    </div>
                </div>
                <div class="item item-divider">
                        <div ng-hide="commande.delivered">
                            <div class="row">
                                <div class="col col-25">
                                    <label class="item item-input">
                                        <span class="input-label">Entrez le code</span>
                                        <input type="text" ng-model="commande.code" name="code" required>
                                    </label>
                                    <div ng-messages="form.code.$error" ng-show="commande.error" role="alert">
                                        <div ng-messages-include="js/view/messageValidateForm.html"></div>
                                    </div>
                                </div>
                                <div class="col col-25">
                                    <button ng-click="giveToClient(commande)" class="button button-balanced col-offset-25 col-50">Valider</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
