<ion-view>
    <ion-content>
        <div class="list">
            <div ng-repeat="commande in commandes">
                <p  class="item item-icon-left" >
                    <i class="icon ion-clock"></i>
                         Dans : 
                            <neema-timer time="commande.dureeRestante"></neema-timer>
                </p>
                <p  class="item item-icon-left" >
                    <i class="icon ion-levels"></i>
                         Etat : {{commande.etatCommande.libelle}}
                </p>
                <p  class="item item-icon-right" >
                    <strong >{{commande.restaurant.nom}} ( {{commande.restaurant.telephone}} ) </strong>
                </p>
                <p  class="item item-icon-right" >
                    <i class="icon ion-key cursor-pointer" ng-click="showCodeCommande()"></i>
                         Code secret : 
                            <span ng-hide="codeCommandeVisible">********</span>
                            <span ng-show="codeCommandeVisible">{{commande.codeCommande}}</span>
                </p>
                <h5 class="text-center">Les details de la commande</h5>
                <p ng-repeat="detailCommande in commande.detailCommandes track by detailCommande.id|orderBy:detailCommande.prix:false" class="item item-icon-left" > 
                    <i class="icon ion-android-restaurant"></i>  
                    ({{detailCommande.quantite}}) {{detailCommande.plat.nom}}
                    <span class="montant">{{detailCommande.prix|montant}}</span>
                </p>
                <div class="row item">
                    <h2>MONTANT</h2>
                    <strong class="montant">{{commande.totalCommande|montant}}</strong>
                </div>

            </div>
            
        </div>

    </ion-content>
</ion-view>