<ion-view view-title="Neema">
    <ion-content scroll="true" padding="true" delegate-handle="mainScroll">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Rechercher" ng-model="searchKey" ng-change="search(searchKey)">
            </label>
        </div>

        <div class="list card animated bounceInUp" ng-repeat="restaurant in restaurants" ui-sref="restaurant({idRestaurant:restaurant.id})">
            <div class="item item-avatar">
                <img ng-src="{{restaurant.imageRestaurants[0].webPath}}/{{restaurant.imageRestaurants[0].imageName}}" alt="">
                <h2>{{restaurant.nom}}</h2>
                <p>{{restaurant.quartier.nom}}-{{restaurant.quartier.commune.nom}}</p>
            </div>
            <div class="item item-image">
                <ion-slide-box>
                    <ion-slide ng-repeat="image in restaurant.imageRestaurants">
                        <img class="full-image" ng-src="{{image.webPath}}/{{image.imageName}}" alt="{{image.imageName}}"/>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <ion-infinite-scroll
        ng-if="canBeLoad"
        on-infinite="onInfiniteLoad()"
        icon="ion-loading-c"
        distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>


